base: &base
  adapter: postgresql
  host: localhost

development:
  <<: *base
  database: bmoreonrails_dev

test: &test
  <<: *base
  database: bmoreonrails_test

production:
  <<: *base
  database: bmoreonrails_prod
