.large-content{
  #twitter.line-mobile {

    @include mobile {
      position: relative;
      text-align: center;

     &:before {
        border-bottom: 1px solid $red;
        content: '';
        position: absolute;
        top: 10%;
        left: 0;
        right: 0;
      }

      h2 {
        background-color: $light;
        color: $red;
        display: inline-block;
        font-size: 500%;
        margin: 0;
        padding: 0.5em 0.25em 0 0.25em;
        position: relative;
        z-index: 1;

        @include mobile {
          font-size: 400%;
        }
      }
    }

    .twitter {
      display: none;

      @include mobile {
        display: inline-block;
      }
    }
  }

  margin-top: 5em;

  @include mobile {
    margin-top: 1.5em;
  }

  h4 {
    @include mobile { padding-top: 1em; }
  }

  h4 {
    color: $red;
    font-family: Roboto, $sans;
    font-weight: 700;
    font-size: 180%;
    line-height: 1.1em;
    margin-bottom: 0.15em;

    @include mobile {
      font-size: 105%;
    }

    @include tablet {
      font-size: 145%;
    }
  }

  p {
    font-family: Roboto, $sans;
    font-weight: 400;
    margin: 0;
  }

  p.address {
    color: $red;
    font-weight: 700;
  }

  p.subtitle {
    font-family: Roboto, $sans;
    font-weight: 700;
  }

  .column8 {
    @include mobile {
      padding-bottom: 3.5em;
    }
  }

  .push {
    padding-top: 2em;
  }

  .space {
    padding-top: 2em;

    @include mobile {
      padding-top: 0;
    }
  }

  .subspace {
    padding-top: 1.1em;

    @include tablet {
      padding-top: 1.5em;
    }
  }

  .twitter-timeline {
    padding-top: 1em;
  }
}
