#calendar {
  margin-top: 5em;

  h3 {
    @include mobile { padding-top: 1em; }
  }

  h3 {
    color: $red;
    font-family: Roboto, $sans;
    font-weight: 700;
    font-size: 145%;
    line-height: 1em;
    margin-bottom: 0.15em;
  }

  p {
    font-family: Roboto, $sans;
    font-weight: 400;
    margin: 0;
  }

  p.subtitle {
    font-family: Roboto, $sans;
    font-weight: 700;
  }

  .space {
    padding-top: 2em;

    @include mobile {
      padding-top: 0;
    }
  }

  @include mobile {
    .twitter-timeline {
    padding-top: 2em;
    }
  }
}