@import "lib/global";
@import "sections/calendar";
@import "sections/sponsors";
@import "sections/team";

header {
  background-color: #CD2027;
  height: 5em;
  line-height: 5em;
  overflow: hidden;

  nav {

    ul {
      list-style: none;
      margin: 0;
      padding: 0 1.5em;

      li {
        display: inline-block;
        padding-right: 2em;

          @include mobile {
            padding-right: 1.25em;
          }

        a {
          color : $light;
          font-size: 200%;

            @include mobile {
              font-size: 175%;
            }
        }

        &#join {
          float: right;

          a {
            font-size: 110%;
          }
        }
      }
    }
  }
}

article {
  }

  .line {
    padding-bottom: 2em;
    position: relative;
    text-align: center;

   &:before {
      border-bottom: 1px solid $red;
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
    }

    h2 {
      background-color: $light;
      color: $red;
      display: inline-block;
      font-size: 500%;
      margin: 0;
      padding: 0 0.25em;
      position: relative;
      z-index: 1;
    }
  }

  aside {

  }

#map {

  img {
    display: block;
  }

  #greymap {
    display: block;
    float: none;
    padding: 0;
    position: relative;
    width: 100%;
  }

  h2 {
    font-size: 625%;
    margin: 0;
    position: relative;
    text-align: center;
    top: 50px;
    z-index: 1;
  }
}

footer {
  background-color: $red;

  a {
    color : $light;
    font-size: 100%;
    text-decoration: underline;
  }

  p {
  color: $light;
  line-height: 3em;
  margin: 0;
  padding: 1em 0em;
  text-align: center;

  @include mobile {
    line-height: 1.5em;
  }
  }
}

.container {
  @include clearfix;
  margin-left: auto;
  margin-right: auto;
  width: 960px; // Standard 960px grid
  @include tablet { width: 768px; }
  @include landscape { width: 480px; }
  @include portrait { width: 320px; }
}

.row { @include clearfix; }

// Build columns
$grid-size: 18;
$i: 1;
@while $i <= $grid-size {
  // .columnx and .spanx both have widths
  .column#{$i}, .span#{$i} {
    width: percentage($i / $grid-size);
    @include mobile { width: auto; }
  }

  // .columnx has a more specific layout
  .column#{$i} {
    float: left;
    min-height: 1px;
    padding-left: 1em;
    padding-right: 1em;
    @include mobile {
      float: none;
    }

    img { max-width: 100%; }
  }

  // .offsetx pushes off from the left
  .offset#{$i} {
    margin-left: percentage($i / $grid-size);
    @include mobile { margin-left: auto; }
  }
  $i: $i + 1;
}