@import "lib/global";
@import "sections/calendar";
@import "sections/sponsors";
@import "sections/team";

header {
  background-color: #CD2027;
  height: 5em;
  line-height: 5em;
  overflow: hidden;

  nav {

    ul {
      list-style: none;
      margin: 0;
      padding: 0 1.5em;

      @include mobile {
        padding: 0;
      }

      li {
        display: inline-block;
        padding-right: 2em;

          @include mobile {
            padding-right: 0.8em;
          }

        a {
          color : $light;
          font-size: 200%;

            @include mobile {
              font-size: 175%;
            }
        }

        a:hover {
          color: lighten($red, 30%);
        }

        &#join {
          float: right;

          a {
            font-size: 110%;
          }

          a:hover {
            color: lighten($red, 30%);
          }
        }
      }
    }
  }
}

article {
  }

  .line {
    // padding-bottom: 2em;
    position: relative;
    text-align: center;

    @include mobile {
      padding-bottom: 0;
    }

   &:before {
      border-bottom: 1px solid $red;
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
    }

    h2 {
      background-color: $light;
      color: $red;
      display: inline-block;
      font-size: 500%;
      margin: 0;
      padding: 0 0.25em;
      position: relative;
      z-index: 1;

      @include mobile {
        font-size: 400%;
      }
    }
  }

  aside {

  }

.mapfooter {

  position: relative;

  @include mobile {
    margin-top: -20px;
  }

    #address {
      background-color: $red;
      padding: 1.75em 1em 1.75em 1em;
      position: absolute;
      top: 30%;
      width: 35em;

      @include mobile { display: none; }

      p {
        color: $light;
        float: left;
        font-family: Roboto, $sans;
        font-weight: 400;
        font-size: 105%;
        line-height: 1.35em;
        margin: 0;
        padding: 0;
      }

      .column8 {
        padding-left: 2em;
      }

      .text {
        padding-top: 2em;

        a {
          color: $light;
          text-decoration: underline;
        }

        a:hover {
          color: lighten($red, 30%);
        }
      }
    }

  .background {
    background-image:url('map.png');
    background-size: cover;
    background-position: center;
    height: 40em;

    @include mobile {
      height: 20em;
    }
  }

  h2 {
    font-size: 625%;
    margin: 0;
    position: relative;
    text-align: center;
    top: 50px;
    z-index: 1;

    @include mobile {
      font-size: 500%;
    }
  }
}


footer {
  background-color: $red;

  a {
    color : $light;
    font-size: 100%;
    text-decoration: underline;
  }

  a:hover {
    color: lighten($red, 30%);
  }

  p {
  color: $light;
  line-height: 3em;
  margin: 0;
  padding: 1em 0em;
  text-align: center;

    .bullet {
      @include mobile {
        display: none;
      }
    }

    @include mobile {
      line-height: 1.5em;
    }
  }
}

.container {
  @include clearfix;
  margin-left: auto;
  margin-right: auto;
  width: 960px; // Standard 960px grid
  @include tablet { width: 768px; }
  @include landscape { width: 480px; }
  @include portrait { width: 320px; }
}

.row { @include clearfix; }

// Build columns
$grid-size: 18;
$i: 1;
@while $i <= $grid-size {
  // .columnx and .spanx both have widths
  .column#{$i}, .span#{$i} {
    width: percentage($i / $grid-size);
    @include mobile { width: auto; }
  }

  // .columnx has a more specific layout
  .column#{$i} {
    float: left;
    min-height: 1px;
    padding-left: 1em;
    padding-right: 1em;
    @include mobile {
      float: none;
    }

    img { max-width: 100%; }
  }

  // .offsetx pushes off from the left
  .offset#{$i} {
    margin-left: percentage($i / $grid-size);
    @include mobile { margin-left: auto; }
  }
  $i: $i + 1;
}