%section#location.mapfooter
  %h2.map.icon
  .background

  #address
    .row
      .column8
        %p
          Meetings @ OrderUp HQ
          %br/
          2400 Boston St. #201
          %br/
          Baltimore, MD 21224

      .column9
        %p
          Hack Nights @ OrderUp HQ
          %br/
          2400 Boston St. #201
          %br/
          Baltimore, MD 21224

    .row.text
      .column8
        %p
          Pub Nights @ Rye
          %br/
          807 S. Broadway
          %br/
          Baltimore, MD 21231

      .column9
        %p
          Join Us!
          %br/
          %a{href: 'http://www.meetup.com/bmore-on-rails', title: 'Our Meetup Page'} meetup.com/bmore-on-rails
