!!!
%html
  %head
    %title BmoreonrailsOrg
    = stylesheet_link_tag    "application", "http://fonts.googleapis.com/css?family=Roboto:400,500,700", "http://fonts.googleapis.com/css?family=EB+Garamond", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %meta(charset='utf-8')
    %meta{name: "robots", content: "index,follow"}
    %link{href: '/favicon.ico', rel: 'shortcut icon', type: 'image/x-icon'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0, user-scalable=no'}

    %body
    %header
      .column18
        %nav
          %ul
            %li
              %a.at.icon{href: '/', title: 'Who We Are'}
            %li
              %a.calendar.icon{href: '#calendar', title: 'Upcoming  Events'}
            %li
              %a.twitter.icon{href: '#twitter', title: 'Twitter'}
            %li
              %a.map.icon{href: '#location', title: 'Where to Find Us'}
            %li#join
              %a{href: 'http://www.meetup.com/bmore-on-rails', title: 'Our Meetup Page'} Join Us on Meetup!

    = yield

    %footer
      %p
        &copy 2013 B'more on Rails
        %br.mobile-only/
        Logo by
        %a{href: 'http://charlesmartucci.com/', title: 'Charles Martucci'} Charles Martucci/Craftwork
        %br.mobile-only
        %span.bullet
          &bull;
        Website Designed by
        %a{href: 'http://www.inthebackforty.com/', title: 'Back Forty'} Back Forty
